@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

input,
select {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
}

.login,
.register,
.home,
.replies {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 30px;
}

.loginTitle,
.registerTitle,
.homeTitle,
.repliesTitle {
  margin-bottom: 30px;
}

.loginForm,
.registerForm {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.loginBtn,
.registerBtn,
.homeBtn,
.modalBtn {
  display: block;
  width: 200px;
  padding: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  color: #ffff;
  background-color: #674188;
  margin-bottom: 15px;
}
.homeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 30px;
}
.home-container {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #674188;
  height: 8vh;
  padding: 10px 20px;
}
.navbar > h2 {
  color: #fffbf5;
}
.navbarRight {
  display: flex;
  align-items: center;
}

.navbarRight > button {
  padding: 10px;
  width: 100px;
  background-color: #f99417;
  border-radius: 5px;
  cursor: pointer;
  color: #fffbf5;
  font-size: 16px;
  border: none;
  outline: none;
  margin-left: 15px;
}

.modal-content {
  background-color: #fff;
  width: 30%;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.modal-content > label {
  margin-bottom: 15px;
}
.modalInput {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}
.thread_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.thread_item {
  padding: 20px;
  width: 80%;
  box-shadow: 0 0 1px 1px #c3acd0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.likes_container {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.likesBtn {
  height: 30px;
  color: #f99417;
  cursor: pointer;
}

.react_container {
  display: flex;
  align-items: center;
}
